html, body {
/*    position: relative;
*/    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #FAEBBC;
    text-align: center;
}

body {
    padding-top: 65px;
}

/* GALLERY */
ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}

ul li {
    list-style:none;
    margin-bottom:25px;
}

ul li img {
    cursor: pointer;
    width: 100%;
    -webkit-filter: grayscale(50%);
}

ul li img:hover{
    -webkit-filter: none;
}

.book_cap {
    max-width: 200px;
    font-family: Garamond; 
    font-size: 18px; 
    font-style: italic;
    color: #262120
}

#howard {
    background-image: url('Howard_Elmans_Farewell1.png');
    width: 413px;
    height: 643px;
}

#howard:hover {
    background-image: url('Howard_Elmans_Farewell.png');
    width: 413px;
    height: 643px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}​

area { 
    cursor: tooltip;
}

a:hover { 
	color: #FFFFFF;
}

.covers {
    display: inline-block;
    padding: 2%;
}

.header-img { 
	width: 100vw;
	height: 60px;
	background-image: url("assets/img/Pine_Boards_01.jpg");
}

/* SECTION ID COLORS */
#about {
    background-color: #FAEBBC;
    text-align: center;
}

#map { 
    background-color: #F7F0DC;
    text-align: center;
}

#books { 
    background-color: #F7EDBF;
    text-align: center;
}

#gallery {
    background-color: #D2C5AA;
    text-align: center;
}

footer {
    height:28px;
    text-align: center;
    background-image: url("../images/navbar.gif");
}

/* MODAL CSS */
.modal {
    padding-top: 100px;
}

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

/* NAVIGATION BAR CSS */
.navbar .nav {
    float: none;
    text-align: center;
    height: 65px;
}

.navbar .nav li{
	width: 15%;
	display: inline-block;
	float: none;
}

.navbar-inner{
	background-image: url("../images/navbar.gif");
	background-repeat: repeat-x;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #EAE4CD;
	opacity: 1.0;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Amatic SC';
	padding-top: 20px;
	font-size: 42px;
 	color: #EAE4CD;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

#map-container{
	width: 900px; margin: auto;
}

.map-clickable{
	position: absolute;
	/* background-color: black; */
	border: 1px solid black;
}
