html, body {
	margin: 0;
	min-height: 100%;
}

body {
	position: relative;
	background-color: #f2eadd;
	height: 100%;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}​

/*a {
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
}*/

a:hover { 
	color: #FFFFFF;
}

.header-img { 
	width: 100vw;
	height: 80px;
	background-image: url("assets/img/Pine_Boards_01.jpg");
}

.navbar .nav {
    float: none;
    text-align: center;
    min-height: 80px;
}

.navbar .nav li{
	width: 20%;
	display: inline-block;
	float: none;
}

.navbar-inner{
	background-image: url("../images/navbar.gif");
	background-repeat: repeat-x;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #EAE4CD;
	opacity: 1.0;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Amatic SC';
	padding-top: 30px;
	font-size: 50px;
 	color: #EAE4CD;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}

/*.navbar-nav > li > a:hover
 {
 	color: white;
	opacity: .75;
}*/

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

<<<<<<< HEAD
=======

#map-container{
	width: 900px; margin: auto;
}

.map-clickable{
	position: absolute;
	/* background-color: black; */
	border: 1px solid black;
}

#town-hall{
		width: 73px;
	
		height: 48px;
	
		margin-top: 618px;
	
		margin-left: 367px;
}
>>>>>>> 9db377e0967123c81abcabf94f0431b125f1bafa


