body {
	background-color: #f2eadd;
}

/*a {
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
}*/

a:hover { 
	color: #FFFFFF;
}

.header-img { 
	width: 100vw;
	height: 200px;
	background-image: url("assets/img/Pine_Boards_01.jpg");
}

.navbar .nav {
    float: none;
    text-align: center;
    min-height: 100px;
}

.navbar .nav li{
	width: 20%;
	display: inline-block;
	float: none;

}

.navbar-inner{
	background-image: url("../images/navbar.gif");
	background-repeat: repeat-x;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
	opacity: 1.0;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Amatic SC';
	font-size: 50px;
 	color: #EAE4CD;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}

/*.navbar-nav > li > a:hover
 {
 	color: white;
	opacity: .75;
}*/

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

