#sidenav{
	position: fixed;
	height: 80%;
	width: 20%;
	right: 10px;
}

.sidenav-item{
	height: 12%;
	width: 100%;
	background-color: grey;
	margin: 5px;
	text-align: center;
	padding-top: 10%;
}

.sidenav-item:hover{
	color: blue;
}

